@font-face {
  font-family: 'MyriadProRegular';
  src: url('../fonts/MyriadProRegular/MyriadProRegular.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/MyriadProRegular/MyriadProRegular.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/MyriadProRegular/MyriadProRegular.ttf') format('truetype');
  /* Safari, Android, iOS */
}
body {
  background-color: white;
  font-family: 'Gentium Book Basic', sans-serif;
  font-size: 22px;
}
/*Початок блока header*/
.header {
  background: url('../images/header-bg.jpg') 50% no-repeat;
  width: 100%;
  height: 770px;
  background-size: cover;
  color: white;
}
.content {
  margin: 0 auto;
  width: 701px;
  position: relative;
  height: 100%;
}
.title {
  font-size: 60px;
  letter-spacing: 0.2px;
}
.subtitle {
  font-size: 30px;
  font-style: italic;
  color: #d7d7d7;
  margin-top: 6px;
  letter-spacing: -0.1px;
}
.header hr {
  background-color: #d7d7d7;
  height: 1px;
  border: none;
  margin-left: 2px;
  margin-top: 15px;
}
.author {
  font: bold 12px 'Open Sans';
  color: #d7d7d7;
  margin-top: 22px;
  margin-left: 5px;
}
.name {
  font: bold 15px 'Open Sans';
  vertical-align: middle;
  margin-top: -4px;
  margin-left: 5px;
  letter-spacing: -0.06px;
}
.pull-bottom {
  position: absolute;
  width: 100%;
  height: 182px;
  bottom: 36px;
  left: 0;
}
.author-avatar {
  border-radius: 50%;
  width: 29px;
  height: 29px;
  background-position: center;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: 2px;
}
.author-avatar img {
  max-height: 100%;
  max-width: 100%;
}
.icon {
  height: 24px;
  width: 105px;
  position: absolute;
  top: 708px;
  right: 0;
}
.icon li {
  float: right;
  height: 12px;
  background-repeat: no-repeat;
  margin-left: 19px;
}
.star {
  width: 14px;
  background-image: url('../images/icon--star.png');
}
.star:hover,
.love:hover,
.blue:hover {
  background-position: 0 -12px;
}
.love {
  width: 13px;
  background-image: url('../images/icon--love.png');
}
.blue {
  width: 13px;
  background-image: url('../images/icon--blue.png');
}
.icon li a {
  height: 24px;
  display: block;
  cursor: pointer;
}
/*Кінець блока header*/
/*Початок блока main-content*/
.main-content {
  margin-top: 48px;
  margin-bottom: 70px;
  overflow: hidden;
}
.main-content ul li {
  color: #565656;
  margin: 40px -4px 55px 30px;
}
.main-content ul li p:before {
  content: "•";
  color: #565656;
  font: 22px 'MyriadProRegular';
}
.main-content p {
  color: black;
  line-height: 40px;
}
.main-content blockquote {
  font-size: 30px;
  font-style: italic;
  color: #626262;
  text-align: center;
  margin: 42px 0 48px 0;
}
.main-content blockquote:after {
  content: "”";
}
.main-content blockquote:before {
  content: "“";
}
.scroll {
  display: block;
  background: url('../images/arrow.png') top center no-repeat;
  font: 12px 'Open Sans';
  font-weight: bold;
  color: #a8a8a8;
  margin: 0 auto;
  width: 97px;
  height: 25px;
  padding-top: 15px;
  text-align: center;
  text-decoration: none;
}
/*Кінець блока main-content*/
/*Початок блока shareblock*/
.shareblock {
  background: url('../images/opacity-layer-bg.png') repeat-x, url('../images/share.jpg') no-repeat;
  background-blend-mode: multiply, normal;
  width: 100%;
  height: 253px;
  overflow: auto;
}
.buttonarticle {
  display: block;
  font: 12px 'Open Sans Semibold';
  color: #2ecc71;
  margin: 0 auto;
  width: 189px;
  height: 54px;
  padding-left: 5px;
  text-indent: 43px;
  text-decoration: none;
  border: 2px solid #2ecc71;
  line-height: 55px;
  border-radius: 28px;
  background-position: 30px center;
  position: relative;
  margin-top: 97px;
  letter-spacing: 0.1px;
}
.imgicon {
  background: url('../images/download.png') no-repeat;
  width: 13px;
  height: 12px;
  position: absolute;
  top: 22px;
  left: 29px;
}
.buttonarticle:hover {
  color: #38db7d;
  border: 2px solid #38db7d;
}
.buttonarticle:hover .imgicon {
  background-position: 0 -12px;
}
/*Кінець блока shareblock*/
/*Початок блока above-footer*/
.above-footer {
  width: 100%;
  height: 360px;
}
.footer-sea {
  background: url('../images/opacity-layer-bg.png') right repeat-x, url('../images/footer-sea.jpg') center no-repeat;
  background-blend-mode: multiply, normal;
  background-size: cover, auto;
  float: left;
  width: 50%;
  height: 360px;
  padding-left: 24px;
  padding-top: 67px;
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing: -0.04px;
}
.footer-street {
  background: url('../images/opacity-layer-bg.png') repeat-x, url('../images/footer-street.jpg') no-repeat;
  background-blend-mode: multiply, normal;
  background-size: cover, auto;
  float: right;
  width: 50%;
  height: 360px;
  padding-left: 70px;
  padding-top: 70px;
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing: -0.09px;
}
.footer-sea h1,
.footer-street h1 {
  font: 15px 'Open Sans';
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.footer-street h1 {
  margin-top: -3px;
  margin-left: -2px;
}
.text1 {
  font: 35px 'Gentium Book Basic';
  color: #ffffff;
  margin-top: 45px;
  letter-spacing: 0.2px;
}
.text2 {
  font: 30px 'Gentium Book Basic';
  font-style: italic;
  color: #d7d7d7;
  margin-top: 5px;
  margin-left: 2px;
}
.footer-street:hover {
  background-image: url('../images/footer-street.jpg');
}
.footer-sea:hover {
  background: url('../images/footer-sea.jpg') center no-repeat;
}
.footer-sea:hover h1,
.footer-sea:hover p {
  display: none;
}
.footer-street:hover h1,
.footer-street:hover p {
  display: none;
}
